@tailwind base;
@tailwind components;
@tailwind utilities;


.card-scroll::-webkit-scrollbar {
    @apply h-1 w-2;
}

.card-scroll::-webkit-scrollbar-track {
    background: #8888882e;
    border-radius: 5px;
}

.card-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #A91D54;
}


.swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

.swiper-slide {
    @apply overflow-hidden bg-contain bg-no-repeat items-center justify-center text-base;
}

.swiper-slide img {
    @apply h-full w-full aspect-video object-contain rounded-md mx-auto flex;
}

.bg-banner-shadow {
    /* box-shadow: 20px 20px 0px #A91D54; */
    box-shadow: 20px 20px white, 20px 20px 0px 2px #d1d5db;
}