@tailwind base;
@tailwind components;
@tailwind utilities;


.card-scroll::-webkit-scrollbar {
    @apply h-1 w-2;
}

.card-scroll::-webkit-scrollbar-track {
    background: #8888882e;
    border-radius: 5px;
}

.card-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #A91D54;
}



.newsletter-section {
    @apply w-full flex bg-black;
}

.newsletter-container {
    @apply flex gap-5 items-center justify-center whitespace-nowrap;
    animation: scroll-left 15s linear infinite;
    animation-delay: 2s;
}

.newsletter-item {
    @apply flex w-fit h-8 text-white;
}

.newsletter-item span {
    @apply flex items-center justify-center;
}

.newsletter-item span img {
    @apply mr-5;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 3));
    }
}


.swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

.swiper-slide {
    @apply overflow-hidden bg-contain bg-no-repeat items-center justify-center text-base;
}

.swiper-slide img {
    @apply h-full w-full aspect-video object-contain rounded-md mx-auto flex;
}

.bg-banner-shadow {
    /* box-shadow: 20px 20px 0px #A91D54; */
    box-shadow: 20px 20px white, 20px 20px 0px 2px #d1d5db;
}